.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signin_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
